
<div class="dashboard">

    <h1 id='dashboard-greeting'>Welcome back {{username}}!</h1>


    <a class="newPost btn" href="/dashboard/new">+ New Post</a>

</div>
{{#each user as |user|}} 
{{> post-details}}

{{/each}}
  









{{!-- <script src="/js/add-dish.js"></script> --}}
