<h1>Welcome back {{username}}!</h1>

{{#each user as |user|}} 
{{> post-details}}

{{/each}}

<footer><a href="/dashboard/new">+ New Post</a></footer>


{{!-- <script src="/js/add-dish.js"></script> --}}
